<h2>
  No. Tasks = {{tasks.length}}
</h2>

<input type="text" #taskText (keyup)="handleKeyUp($event)">
<button (click)="addNewTask(taskText.value)"> new Task</button>
<ol>
    <div class="leftA" *ngFor="let task of tasks">
      <input type="checkbox" 
      #chkbox
      [checked]="task.completed"
      (click)="task.setCompleted(! task.completed)"
      >
      {{task.toString()}}
      <a href="#" (click)="removeTask(task)">  (X) </a>
    </div>
</ol>

<button *ngIf="tasks.length > 1" (click)="completeAll(true)">Complete ALL</button>
<button *ngIf="tasks.length > 1" (click)="completeAll(false)">Clear ALL</button>

